In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
health = pd.read_csv('../data/health.csv')

In [5]:
X_cols = ['weight', 'pulse', 'muscle', 'quarter']

In [6]:
X = health[X_cols]

In [7]:
Y = health['time']

In [9]:
X.head(5)

   weight  pulse  muscle  quarter
0     217     67     260       91
1     141     52     190       66
2     152     58     203       68
3     153     56     183       70
4     180     66     170       77

In [15]:
result = LinearRegression().fit(X,Y)

In [18]:
result.coef_

array([ 1.26763358, -0.52520605, -0.50502243,  3.90301223])

In [21]:
result.intercept_
# 상수항 의미

-3.618564278627275

In [22]:
predicted = result.predict(X)

In [23]:
predicted

array([460.13739766, 309.45160088, 321.48506679, 341.70958559,
       404.57000898, 433.89809695, 375.61899823, 424.5382099 ,
       444.81125151, 392.96278209, 426.24597835, 331.35321428,
       284.74477021, 289.5347333 , 419.88316187, 285.63316663,
       371.33499766, 434.50955278, 352.82045823, 301.16890029,
       346.51330916, 279.10535822, 505.16723121, 471.95110494,
       333.35804509, 336.86061134, 347.26755063, 429.40019279,
       278.74119363, 393.22347081])

In [24]:
Y

0     481
1     292
2     338
3     357
4     396
5     429
6     345
7     469
8     425
9     358
10    393
11    346
12    279
13    311
14    401
15    267
16    404
17    442
18    368
19    295
20    391
21    264
22    487
23    481
24    374
25    309
26    367
27    469
28    252
29    338
Name: time, dtype: int64