In [2]:
health <- read.csv('../data/health.csv', header=T)

In [4]:
health <- health[,-1]
health

   pulse muscle quarter time
1  67    260    91      481
2  52    190    66      292
3  58    203    68      338
4  56    183    70      357
5  66    170    77      396
6  71    178    82      429
7  65    160    74      345
8  80    170    84      469
9  77    188    83      425
10 74    170    79      358
11 65    220    72      393
12 68    158    68      346
13 51    243    56      279
14 64    198    59      311
15 66    220    77      401
16 70    180    62      267
17 54    150    75      404
18 76    228    88      442
19 59    188    70      368
20 58    160    66      295
21 52    190    69      391
22 62    163    59      264
23 64    313    96      487
24 72    225    84      481
25 57    173    68      374
26 57    173    65      309
27 59    220    62      367
28 70    218    69      469
29 63    193    60      252
30 53    183    75      338

In [5]:
fit <- lm(time ~ . , data=health)

In [6]:
fit

Call:
lm(formula = time ~ ., data = health)

Coefficients:
(Intercept)        pulse       muscle      quarter
  -105.7007       0.8125       0.2830       5.1011

In [7]:
summary(fit)

Call:
lm(formula = time ~ ., data = health)

Residuals:
    Min      1Q  Median      3Q     Max
-54.171 -27.692  -3.741  16.134 104.157

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -105.7007    66.9050  -1.580    0.126
pulse          0.8125     1.0573   0.768    0.449
muscle         0.2830     0.2216   1.277    0.213
quarter        5.1011     0.9119   5.594 7.06e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 37.52 on 26 degrees of freedom
Multiple R-squared:  0.7384,	Adjusted R-squared:  0.7082
F-statistic: 24.46 on 3 and 26 DF,  p-value: 9.79e-08

In [8]:
anova(fit)

          Df Sum Sq   Mean Sq  F value  Pr(>F)
pulse      1 35134.88 35134.88 24.95729 3.398577e-05
muscle     1 24120.66 24120.66 17.13358 3.248557e-04
quarter    1 44053.52 44053.52 31.29245 7.061426e-06
Residuals 26 36602.81  1407.80       NA           NA

In [9]:
head(cbind(fitted(fit),residuals(fit)))

  [,1]     [,2]
1 486.5153  -5.515330
2 326.9907 -34.990741
3 345.7469  -7.746902
4 348.6640   8.335959
5 388.8176   7.182448
6 420.6495   8.350547

In [10]:
confint(fit, level=0.95)

            2.5 %        97.5 %
(Intercept) -243.2258515 31.8243786
pulse         -1.3608011  2.9857937
muscle        -0.1724969  0.7385001
quarter        3.2266644  6.9754982