In [5]:
install.packages('magrittr')
library(magrittr)

The downloaded binary packages are in
	/var/folders/0_/y0b7zrj14qv5x4wwd1wmzpj80000gn/T//RtmpZr0OqP/downloaded_packages

In [6]:
mtcars %>% head %>% .[,1:3]

                  mpg  cyl disp
Mazda RX4         21.0 6   160
Mazda RX4 Wag     21.0 6   160
Datsun 710        22.8 4   108
Hornet 4 Drive    21.4 6   258
Hornet Sportabout 18.7 8   360
Valiant           18.1 6   225

In [7]:
head(mtcars)[,1:3]

                  mpg  cyl disp
Mazda RX4         21.0 6   160
Mazda RX4 Wag     21.0 6   160
Datsun 710        22.8 4   108
Hornet 4 Drive    21.4 6   258
Hornet Sportabout 18.7 8   360
Valiant           18.1 6   225

In [1]:
# 2.2 tibble과 dplyr의 이용
# install.packages('tidyverse')
# install.packages('ellipsis')
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
x<-3
x

[1] 3

In [4]:
tibble(x=1:2, x*x, 'x $'=x^3,!!x)

  x x * x x $ 3
1 1 1     1   3
2 2 4     8   3

In [8]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [9]:
tibble(letters[1:2])

  letters[1:2]
1 a
2 b

In [10]:
tibble(a=1:2, b=diag(2), c=cov(iris[1:2]))

  a b    c
1 1 1, 0  0.6856935, -0.0424340
2 2 0, 1 -0.0424340,  0.1899794

In [11]:
mtcars %>% head

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [12]:
mtcars %>% as_tibble

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [13]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [14]:
mtcars %>% as_tibble %>% head

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [15]:
mtcars %>% as_tibble %>% as.data.frame

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [17]:
mtcars %>% filter(am==0) %>% group_by(carb) %>% summarize(mean(mpg))

  carb mean(mpg)
1 1    20.33333
2 2    19.30000
3 3    16.30000
4 4    14.30000

In [21]:
mtcars %>% filter(gear!=5) %>% group_by(gear) %>% 
summarize(
    Avg_mpg=mean(mpg), 
    Median_hp=as.numeric(median(hp)),
    Count = n()
) %>%
arrange(desc(Count))

  gear Avg_mpg  Median_hp Count
1 3    16.10667 180       15
2 4    24.53333  94       12

In [24]:
library(nycflights13)

In [25]:
ls('package:nycflights13')

[1] "airlines" "airports" "flights"  "planes"   "weather"

In [27]:
flights %>% dim

[1] 336776     19

In [28]:
flights %>%
filter(!is.na(dep_delay), !is.na(arr_delay))-> not_cancelled

In [29]:
not_cancelled %>% dim

[1] 327346     19

In [30]:
not_cancelled %>% head(3) %>% .[,1:6]

  year month day dep_time sched_dep_time dep_delay
1 2013 1     1   517      515            2
2 2013 1     1   533      529            4
3 2013 1     1   542      540            2

In [32]:
not_cancelled %>%
group_by(year, month, day) %>%
mutate(r=min_rank(desc(dep_time))) %>%
filter(r %in% range(r)) %>% .[,1:6]

    year month day dep_time sched_dep_time dep_delay
1   2013 1      1   517      515             2
2   2013 1      1  2356     2359            -3
3   2013 1      2    42     2359            43
4   2013 1      2  2354     2359            -5
5   2013 1      3    32     2359            33
6   2013 1      3  2349     2359           -10
7   2013 1      4    25     2359            26
8   2013 1      4  2358     2359            -1
9   2013 1      4  2358     2359            -1
10  2013 1      5    14     2359            15
11  2013 1      5  2357     2359            -2
12  2013 1      6    16     2359            17
13  2013 1      6  2355     2359            -4
14  2013 1      7    49     2359            50
15  2013 1      7  2359     2359             0
16  2013 1      8   454      500            -6
17  2013 1      8  2351     2359            -8
18  2013 1      8  2351     2359            -8
19  2013 1      9     2     2359             3
20  2013 1      9  2252     2249             3
21  2013 1     10     3     2359             4
22  2013 1     10  2320     2250            30
23  2013 1     11    11     2359            12
24  2013 1     11  2304     2125            99
25  2013 1     12    30     2359            31
26  2013 1     12  2359     2359             0
27  2013 1     13     1     2249            72
28  2013 1     13  2359     2130           149
29  2013 1     14   453      500            -7
30  2013 1     14  2353     2359            -6
⋮   ⋮    ⋮     ⋮   ⋮        ⋮              ⋮
741 2013 9     16   453      500            -7
742 2013 9     16  2346     2359           -13
743 2013 9     17   450      500           -10
744 2013 9     17  2352     2359            -7
745 2013 9     18   450      500           -10
746 2013 9     18  2349     2359           -10
747 2013 9     19    10     2103           187
748 2013 9     19  2353     2359            -6
749 2013 9     20     9     2250            79
750 2013 9     20  2349     2245            64
751 2013 9     21     8     2359             9
752 2013 9     21  2306     2255            11
753 2013 9     22   518      516             2
754 2013 9     22  2350     2359            -9
755 2013 9     23   455      500            -5
756 2013 9     23  2342     2359           -17
757 2013 9     24   455      500            -5
758 2013 9     24  2348     2359           -11
759 2013 9     25   451      500            -9
760 2013 9     25  2358     2359            -1
761 2013 9     26   451      500            -9
762 2013 9     26  2349     2359           -10
763 2013 9     27   453      500            -7
764 2013 9     27  2346     2359           -13
765 2013 9     28   451      500            -9
766 2013 9     28  2351     2359            -8
767 2013 9     29   521      520             1
768 2013 9     29  2356     2359            -3
769 2013 9     30   453      500            -7
770 2013 9     30  2349     2359           -10

In [33]:
##########
# 워크북
##########

In [34]:
# 6. R에서 data.frame의 기능을 개선한 dplyr 패키지를 개발하는 데 크게 공헌한 사람은?
# 해들리 위캠(Hadley Wickham)

In [35]:
# 7. R에서 mtcars 데이터를 불러 활용하고자 한다. dplyr 패키지를 이용하여 데이터의 일부를 추출하였다. ( ) 안에 들어갈 기호는?

In [36]:
library(dplyr)

In [37]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [38]:
mtcars %>% head %>% .[1:3]

                  mpg  cyl disp
Mazda RX4         21.0 6   160
Mazda RX4 Wag     21.0 6   160
Datsun 710        22.8 4   108
Hornet 4 Drive    21.4 6   258
Hornet Sportabout 18.7 8   360
Valiant           18.1 6   225

In [39]:
# 8. R에서 mtcars 데이터에서 mtcars 자료 중 자동변속기를 채용한(am==0) 자동차들의 경우를 추출하고자 한다. ( ) 안에 들어갈 명령은?

In [40]:
mtcars %>% filter(am==0)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

In [41]:
# 9. R에서 mtcars 데이터에서 mtcars 자료 중 자동변속기를 채용한(am==0) 
# 자동차들의 경우를 골라 카뷰레터 수(carb) 값에 따라 
# 자동차 연비(mpg)의 평균을 구하고자 한다. ( ) 안에 들어갈 명령은?

In [43]:
mtcars %>% filter(am==0) %>% group_by(carb) %>% summarize(mean(mpg))

  carb mean(mpg)
1 1    20.33333
2 2    19.30000
3 3    16.30000
4 4    14.30000