In [1]:
crab <- scan('../data/crab.txt')
crab

 [1] 25.8 24.6 26.1 22.9 25.1 27.3 24.0 24.5 23.9 26.2 24.3 24.6 23.3 25.5 28.1
[16] 24.8 23.5 26.3 25.4 25.5 23.9 27.0 24.8 22.9 25.4

In [2]:
t.test(crab, mu=24.3)

	One Sample t-test

data:  crab
t = 2.7128, df = 24, p-value = 0.01215
alternative hypothesis: true mean is not equal to 24.3
95 percent confidence interval:
 24.47413 25.58187
sample estimates:
mean of x
   25.028

In [3]:
# 2.1 두 독립표본 평균 검정

In [4]:
drug = read.csv('../data/drug.csv', header=T)
drug[c(1,7),]

  drug time
1 B    8.8
7 G    9.9

In [5]:
t.test(time ~ drug, data=drug)

	Welch Two Sample t-test

data:  time by drug
t = -2.5454, df = 10.701, p-value = 0.02774
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.8543048 -0.1314095
sample estimates:
mean in group B mean in group G
       8.750000        9.742857

In [6]:
var.test(time ~ drug, data=drug)

	F test to compare two variances

data:  time by drug
F = 0.50633, num df = 5, denom df = 6, p-value = 0.4722
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.08456359 3.53301988
sample estimates:
ratio of variances
           0.50633

In [7]:
t.test(time ~ drug, var.equal=T, data=drug)

	Two Sample t-test

data:  time by drug
t = -2.4765, df = 11, p-value = 0.03076
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.8752609 -0.1104534
sample estimates:
mean in group B mean in group G
       8.750000        9.742857

In [8]:
# 3. 짝지어진 표본에서 평균 검정

In [9]:
deer = read.csv('../data/deer.csv', header=T)

In [10]:
head(deer)

  id hleg fleg
1 1  142  138
2 2  140  136
3 3  144  147
4 4  144  139
5 5  142  143
6 6  146  141

In [12]:
t.test(deer$hleg, deer$fleg, paired=T)

	Paired t-test

data:  deer$hleg and deer$fleg
t = 3.4138, df = 9, p-value = 0.007703
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 1.113248 5.486752
sample estimates:
mean of the differences
                    3.3