In [1]:
import pandas as pd
import numpy as np

In [2]:
f = open('../data/crab.txt', 'r')
crab = f.read()
crab

'   25.8  24.6  26.1  22.9  25.1  27.3  24.0  24.5  23.9  26.2\n   24.3  24.6  23.3  25.5  28.1  24.8  23.5  26.3  25.4  25.5\n   23.9  27.0  24.8  22.9  25.4'

In [3]:
type(crab)

str

In [4]:
crab = crab.split()

In [6]:
crab

['25.8',
 '24.6',
 '26.1',
 '22.9',
 '25.1',
 '27.3',
 '24.0',
 '24.5',
 '23.9',
 '26.2',
 '24.3',
 '24.6',
 '23.3',
 '25.5',
 '28.1',
 '24.8',
 '23.5',
 '26.3',
 '25.4',
 '25.5',
 '23.9',
 '27.0',
 '24.8',
 '22.9',
 '25.4']

In [7]:
fcrab = [float(x) for x in crab]

In [8]:
fcrab[0:5]

[25.8, 24.6, 26.1, 22.9, 25.1]

In [9]:
from scipy import stats

In [11]:
crab_ttest = stats.ttest_1samp(fcrab, 24.3)
crab_ttest

Ttest_1sampResult(statistic=2.7127692953052716, pvalue=0.01214553724164843)

In [12]:
'T-value = %.3f, p-value = %.3f' % crab_ttest

'T-value = 2.713, p-value = 0.012'

In [15]:
import pandas as pd
from scipy import stats

In [16]:
drug = pd.read_csv('../data/drug.csv')
drug.columns

Index(['drug', 'time'], dtype='object')

In [17]:
drugB = drug.loc[drug.drug=='B', 'time']
drugB

0    8.8
1    8.4
2    7.9
3    8.7
4    9.1
5    9.6
Name: time, dtype: float64

In [18]:
drugG = drug.loc[drug.drug=='G', 'time']
drugG

6      9.9
7      9.0
8     11.1
9      9.6
10     8.7
11    10.4
12     9.5
Name: time, dtype: float64

In [20]:
drug_ttest = stats.ttest_ind(drugB, drugG, equal_var=False)
drug_ttest

Ttest_indResult(statistic=-2.545400506120506, pvalue=0.027737003664852006)

In [22]:
'Not assuming equal variances : t-value = %.3f, p-value = %.3f' % drug_ttest

'Not assuming equal variances : t-value = -2.545, p-value = 0.028'

In [23]:
# 두 독립표본 평균 검정: 분산 동일성 검정 후

In [24]:
import pandas as pd
from scipy import stats

In [25]:
drug = pd.read_csv('../data/drug.csv')
drugB = drug.loc[drug.drug=='B', 'time']
drugG = drug.loc[drug.drug=='G', 'time']

In [26]:
stats.bartlett(drugB, drugG)

BartlettResult(statistic=0.5564475391423365, pvalue=0.4556951347329731)

In [27]:
stats.levene(drugB, drugG)

LeveneResult(statistic=0.5208519677996435, pvalue=0.485536773334305)

In [29]:
drug_ttest = stats. ttest_ind(drugB, drugG, equal_var=True)

In [30]:
'Assuming equal variances : t-value = %.3f, p-value = %.3f '%drug_ttest

'Assuming equal variances : t-value = -2.476, p-value = 0.031 '

In [31]:
# 3.2 짝지어진 표본의 평균 검정

In [33]:
import pandas as pd
from scipy import stats

In [34]:
deer = pd.read_csv('../data/deer.csv')
deer.head()

   id  hleg  fleg
0   1   142   138
1   2   140   136
2   3   144   147
3   4   144   139
4   5   142   143

In [35]:
deer_pttest = stats.ttest_rel(deer.hleg, deer.fleg)
deer_pttest

Ttest_relResult(statistic=3.413793103448276, pvalue=0.007703223347263766)

In [36]:
'T-value = %.3f, p-value = %.3f'%deer_pttest

'T-value = 3.414, p-value = 0.008'